.idea
.DS_Store
vendor

# npm based parse-server-test
node_modules
logs
test_logs

# ignore test results
phpunit-test-results
.phpunit.result.cache
.phpunit.cache
*.log

coverage.xml

# ignore phpdoc
output/
.phpdoc/

composer.phar
