<?xml version="1.0"?>
<checkstyle version="1.3.0">
  <file name="ParseSessionStorage.php"/>
  <file name="ParseBytes.php"/>
  <file name="ParseClient.php"/>
  <file name="Internal/RemoveOperation.php"/>
  <file name="Internal/FieldOperation.php"/>
  <file name="Internal/AddOperation.php"/>
  <file name="Internal/ParseRelationOperation.php"/>
  <file name="Internal/IncrementOperation.php"/>
  <file name="Internal/Encodable.php"/>
  <file name="Internal/SetOperation.php"/>
  <file name="Internal/DeleteOperation.php"/>
  <file name="Internal/AddUniqueOperation.php"/>
  <file name="ParseCloud.php"/>
  <file name="ParseAnalytics.php"/>
  <file name="ParseGeoPoint.php"/>
  <file name="ParsePushStatus.php"/>
  <file name="ParseLogs.php"/>
  <file name="ParseObject.php"/>
  <file name="HttpClients/ParseHttpable.php"/>
  <file name="HttpClients/ParseStream.php"/>
  <file name="HttpClients/ParseCurlHttpClient.php"/>
  <file name="HttpClients/ParseCurl.php"/>
  <file name="HttpClients/ParseStreamHttpClient.php"/>
  <file name="ParseInstallation.php"/>
  <file name="ParseConfig.php"/>
  <file name="ParseMemoryStorage.php"/>
  <file name="ParseAggregateException.php"/>
  <file name="ParseStorageInterface.php"/>
  <file name="ParseException.php"/>
  <file name="ParseSchema.php"/>
  <file name="ParseUser.php"/>
  <file name="ParsePush.php"/>
  <file name="ParseRole.php"/>
  <file name="ParseSession.php"/>
  <file name="ParseApp.php"/>
  <file name="ParsePolygon.php"/>
  <file name="ParseACL.php"/>
  <file name="ParseFile.php"/>
  <file name="ParseAudience.php"/>
  <file name="ParseRelation.php"/>
  <file name="ParseHooks.php"/>
  <file name="ParseQuery.php"/>
  <file name="ParseServerInfo.php"/>
</checkstyle>
