<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnSkipped="false"
        stopOnIncomplete="false"
        verbose="false"
        >
    <testsuites>
        <testsuite name="parse-php-sdk">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Parse</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-html" target="phpunit-test-results/" showUncoveredFiles="true"/>
    </logging>
</phpunit>
