<?xml version="1.0"?>
<phpunit
        bootstrap="./tests/bootstrap.php"
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnSkipped="false"
        stopOnIncomplete="false"
        syntaxCheck="false"
        verbose="true"
        >
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
